
.header {
  //margin: 40px 40px;

  //background-color: yellow;
  background-color: $bg-color-header;
  height: 35vh;

  grid-area: 1 / 1 / 2 / 5;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.logo__img {

  grid-area: 1 / 1 / 2 / 5;

}

h1 {
  font-size: 3.5em; /* 56px/16=3.5em */
}

.header__titre {

  grid-area: 1 / 2 / 2 / 5;
  font-family: "Times New Roman", Times, serif;
  color:#00f6ff;

}

.search {
  grid-area: 1 / 4 / 2 / 5;
  padding: 35px;

}
