body {

  padding: 10px;
  //background-color:red;
  //background-color: $bg-color-body;
  display: grid;
  grid-template-rows: 35vh 15vh 1fr 1fr 1fr 30vh;
  grid-template-columns: repeat(4, 1fr);

}
