// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// body
$bg-color-body:red;

// header
$bg-color-header:yellow;

// menu
$bg-color-menu:lightblue;





